.calendar
    // &__title
        
    &__day
        color #ccc
        display inline-block
        width calc(100% / 7)
        
    &__number
        display inline-block
        width calc(100% / 7)
        padding 5px
        
        &._inactive
            color green
        
    &__numberLink
        color #777
