<div class="row">
    <div class="col-md-8">
        <h3>{{event.title}}</h3>
        <h4>{{event.date}} {{event.time}}</h4>
        <p>{{event.description}}</p>
    </div>
    <div class="col-md-4">
    <h5>Players registered</h5>
    <ul>
        <li ng-repeat="attender in event.attenders">{{attender.name}}</li>
    </ul>
    <p class="text-center" ng-if="!event.attenders.length">
    No one is registered yet
    </p>
    </div>
    <div class="col-md-8">
        <form>
            <div class="form-group">
            <label for="playerName">Name</label>
            <input type="text" name="playerName" class="form-control" ng-model="player.name" placeholder="Name" />
            </div>
            <div class="form-group">
            <label for="playerName">Email</label>
            <input type="email" name="playerEmail" class="form-control" ng-model="player.email" placeholder="Email" />
            </div>
            <button type="submit" class="btn btn-primary">Register</button>
            <a ui-sref="calendar" class="btn">Cancel</a>
        </form>
    </div>
</div>